<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @brand.title %>
</p>

<p>
  <strong>Slog:</strong>
  <%= @brand.slog %>
</p>
<% if can? :update, Brand%>
  <%= link_to 'Edit', edit_brand_path(@brand) %>
<% end %>
<%= link_to 'Back', brands_path %>
